# HAProxy Load Balancer Config - VNA Project
# Author: Alirizo Axmedov (2426806)
 
global
    log /dev/log local0
    maxconn 4096
 
defaults
    log global
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
 
frontend stats
    bind *:8404
    stats enable
    stats uri /stats
 
frontend http_front
    bind *:80
    default_backend http_back
 
backend http_back
    balance roundrobin
    option httpchk GET /health
    server backend-1 192.168.10.20:8080 check inter 5s fall 3 rise 2
    server backend-2 192.168.10.21:8080 check inter 5s fall 3 rise 2
